<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="stylesheet.css"/>
    </h:head>
    <h:body>
        <div>
            <h:form>
                <p:panelGrid columns="3">
                    
                    <p:outputLabel value="email"/>
                    <p:inputText id="emailInput" required="true"
                                 value="#{customerController.selected.email}"
                                 validator="emailValidator"/>
                    <p:message for="emailInput"/>
                    
                    <p:outputLabel value="Пароль"/>
                    <p:password id="passwordInput" required="true"
                                value ="#{customerController.selected.password}"/>
                    <p:message for="passwordInput"/>
                    
                    <p:outputLabel id="nameInput" value="Настоящее имя"/>                  
                    <p:inputText required="true" value ="#{customerController.selected.realname}"/>
                    <p:message for="nameInput"/>
                    
                </p:panelGrid>
                <br></br>
                <p:commandButton ajax = "false" value="Регистрация" action="#{customerController.create()}"/>
            </h:form>
        </div>
    </h:body>
</html>

